@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
 *{
     margin:0;
     padding:0;
     box-sizing: border-box;
 }

 .navbar{
     display:flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(34, 30, 30);
    position: sticky;
    top: 0;
 }

 .navbar ul{
     display: flex;
     list-style: none;
     margin: 20px;
 }
 .navbar ul li{
     font:"playfair display";
     font-size: 1.1rem;
     font-weight: bold;
 }

 .navbar ul li a{
     text-decoration: none;
     color: floralwhite;
     padding: 8px 25px;
     transition:all .5s ease ;
 }
 .navbar ul li a:hover{
     background-color:rgb(85, 85, 85);
     color: black;
     box-shadow: 0 0 10px white;
 }


 #home{
     display: flex;
     flex-direction: column;
     background-color: black;
     height: 840px;
     justify-content: center;
     align-items: center;
     color: white;
 }

 #home::before{
     content:"";
     position: absolute;
     top: 0;
     right: 0;
     background: rgba(0, 0, 0, 0.631);
     height: 900px;
     width: 100%;
     z-index: -1;
     opacity: .8;

 }

 .main{
    display: flex;
    flex-direction: column;
   /* border: 1px solid grey; */
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;

 }
 .headings{
     font:"playfair display";
     font-size: 3rem;
     text-align: center;
     margin: 40px 0px ;

 }

 .btn{
     padding: 10px 35px ;
     background-color:white;
     border:1px solid grey;
     color: black;
     outline: none;
     transition:.6s ease ;
     font:"playfair display";
 }